/*
Pre-requisites
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
*/

:root {
	--Pink: hsl(322, 100%, 66%);
	--Very-Pale-Cyan: hsl(193, 100%, 96%);
	--Very-Dark-Cyan: hsl(192, 100%, 9%);
	--Grayish-Blue: hsl(208, 11%, 55%);
}

/*
Body Styling
*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/*
Container Styling
*/

.top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 35px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
	width: 100%;
	padding-block: 7rem 3rem;
	margin-top: 7.5rem;
	background: var(--Very-Dark-Cyan);
	color: #f0f0f0;
	position: relative;
}

/*
Top Styling
*/

.top .header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 25px;
	width: 100%;
	padding-block: 2.5rem;
	background: url("./images/bg-hero-desktop.svg"), var(--Very-Pale-Cyan);
}

.top .features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12.5px;
	width: 95%;
	padding-block: 2.5rem 7.5rem;
	/*padding: 2.5rem 2.5rem 10rem;*/
}


/*
Header Styling
*/

.header .brand-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin-inline: auto;
	/*padding: 2.5rem;*/
}

.brand-logo > span {
	font-weight: 700;
	padding: 13px 25px;
	background-color: #f0f0f0;
	border: 1px solid whitesmoke;
	border-radius: 35px;
	cursor: pointer;
}

.brand-logo > span:hover {
	opacity: 0.5;
}

.header .brand-intro {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 35px;
	width: 95%;
	margin-inline: auto;
	/*padding: 2.5rem;*/
}

.brand-intro .text {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}

.brand-intro .text > span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 25px;
}

.brand-intro .text > h1 {
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
}

.brand-intro .text > span > p {
	font-size: 20px;
	color: var(--Grayish-Blue);
}

.brand-intro .text > span > button {
	width: 275px;
	height: 60px;
	font-weight: 700;
	border-radius: 30px;
	background: var(--Pink);
	color: #f0f0f0;
	border: none;
	outline: none;
	cursor: pointer;
}

.brand-intro .text > span > button:hover {
	opacity: 0.7;
}

.brand-intro .images {
	flex-basis: 50%;
}

.brand-intro .images > img {
	width: 100%;
}

/*
Features Styling
*/

.features .grow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	width: 100%;
	padding: 2.5rem;
	border: solid 1px whitesmoke;
	border-radius: 10px;
}

.features .flow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	width: 100%;
	padding: 2.5rem;
	border: solid 1px whitesmoke;
	border-radius: 10px;
}

.features .integrate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	width: 100%;
	padding: 2.5rem;
	border: solid 1px whitesmoke;
	border-radius: 10px;
}


/*
Grow Styling
*/

.grow .texts {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grow .texts > span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.grow .texts > span > h2 {
	font-size: 35px;
}

.grow .texts > span > p {
	color: var(--Grayish-Blue);
	line-height: 1.5;
}

.grow .images {
	flex-basis: 50%;
}

.grow .images > img {
	width: 100%;
}

/*
Flow Styling
*/

.flow .images {
	flex-basis: 50%;
}

.flow .images > img {
	width: 100%;
}

.flow .texts {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flow .texts > span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.flow .texts > span > h2 {
	font-size: 35px;
}

.flow .texts > span > p {
	color: var(--Grayish-Blue);
	line-height: 1.5;
}

/*
Integrate Styling
*/

.integrate .texts {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.integrate .texts > span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.integrate .texts > span > h2 {
	font-size: 35px;
}

.integrate .texts > span > p {
	color: var(--Grayish-Blue);
	line-height: 1.5;
}

.integrate .images {
	flex-basis: 50%;
}

.integrate .images > img {
	width: 100%;
}


/*
Footer Styling
*/

.footer .footer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
	width: 90%;
	margin-inline: auto;
}

.footer-wrapper > img {
	width: 250px;
	height: 100px;
}

.footer-wrapper .socials-contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 75px;
}

.socials-contacts .contacts {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.contacts > span {
	display: flex;
	align-items: flex-start;
	gap: 35px;
}

.contacts > span > p {
	font-size: 16px;
	line-height: 1.4;
	color: var(--Grayish-Blue);
}

.socials-contacts > nav > ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 35px;
	list-style-type: none;
}

.socials-contacts > nav > ul a {
	text-decoration: none;
	color: var(--Grayish-Blue);
}

.socials-contacts > nav > ul a:hover {
	text-decoration: underline;
}

.socials-contacts .socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 240px;
}

.socials > a {
	text-decoration: none;
	font-size: 22px;
	border: solid 1.5px var(--Grayish-Blue);
	border-radius: 50%;
	padding: 15px;
	color: var(--Grayish-Blue);
}

.socials > a:hover {
	color: var(--Pink);
	border: solid 1.5px var(--Pink);
}

.footer .copyrights {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 97.5%;
	margin-inline: auto;
	font-size: 13px;
}

.copyrights .attribution {
	color: red;
}

.copyrights .attribution > a {
	color: magenta;
}

.copyrights p:nth-of-type(2) {
	color: magenta;
}



/*
Get_Started styling
*/

.footer .get-started {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 50%;
	height: 250px;
	position: absolute;
	top: -30%;
	left: 25%;
	background: #f0f0f0;
	border: solid 1px whitesmoke;
	border-radius: 10px;
}


.get-started > h3 {
	color: #000;
	font-size: 30px;
}

.get-started > button {
	width: 55%;
	height: 60px;
	color: #f0f0f0;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.05px;
	background: var(--Pink);
	border: none;
	outline: none;
	border-radius: 30px;
	cursor: pointer;
}

.get-started > button:hover {
	opacity: 0.7;
}